.channelRow{
    display:flex;
    align-items: center;
    margin-bottom:40px;
    margin-top:20px;
}
.channelRow__avatar{
    height:135px !important;
    width:135px !important;
    margin-left:140px;
    margin-top:20px;
    margin-right:100px;
}
.channelRow__title{
    display:flex;
    align-items: center;
}
.channelRow__title > h2{
    margin-right:10px;
}
.channelRow__title__avatar{
    color:rgb(70, 70, 70);
    font-size:16px !important;
    margin-bottom:5px;
}
.channelRow__title > h2{
    font-weight: 400;
    font-size: 20px;
    margin-bottom:10px;
}
.channelRow__desc{
    color:gray;
    font-size: 14px;
}