.recommended{
    flex:0.82;
    background-color: #f2f2f2;
    margin-top:20px;
}
.recommended__videos{
    display:flex;
    flex-wrap: wrap;
    padding-left:10px;
    border-top:1px solid lightgray;
}